<div class="post">
    <div class="post-title">
    <h2 id="title">{{post_title}}</h2>
    <p>By: {{user.name}} on {{date_posted}}</p>
    </div>
    <p id="text">{{post_text}}</p>
     {{#if logged_in}}
    <a>Add Comment</a>
    {{/if}}
</div>
{{#each comments as |comment|}}
<div class="comment-section">
    <p>{{comment.comment_text}}</p>
    <p>{{user.name}}</p>
</div>
{{/each}}