<div class="post">
    <div class="post-title">
    <h2 id="title">{{post_title}}</h2>
    <p>By: {{user.name}} on {{date_posted}}</p>
    </div>
    <p id="text">{{post_text}}</p>
     {{#if logged_in}}
    <button id="comment-button">Add Comment</button>
    {{/if}}
</div>
{{#each comments as |comment|}}
<div class="comment-section">
    <p>{{comment.comment_text}}</p>
    <p>{{user.name}}</p>
</div>
{{/each}}
{{#if logged_in}}
<div id="comment-modal">
    <div>
        <form id = "newCommentForm">
        <h2>Add A Comment</h2>
        <input type="hidden" name="post-id" value="{{id}}"" id="postID"/>
        <input type="text" id="commentText">
        <input type="submit" value="Add Comment">
        </form>
    </div>
</div>
{{/if}}
<script type="text/javascript" src="/js/newComment.js"></script>